html {
  scroll-behavior: smooth;
}

body  {
  background-color: #212529;
  font-family: 'Poppins', sans-serif;
}

header {
  display: flex;
  padding: 20px 0 0 20px;
  position: relative;

}

header * {
  display: inline;
  font-style: unset;
  text-decoration: unset;
  color: #F8F9FA;
  padding-right: calc(0.80em + 1vmin);
  font-size: calc(0.65em + 1vmin);
}

h1 {
  color: #F8F9FA;
  font-size: calc(1em + 8vmin);
  filter: drop-shadow(0px 0px 0.07em #ced4da63);
  z-index: 1;
}

h3 {
  color: #212529;
  font-size: calc(0.80em + 1vmin);
  line-height: 1.8em;
  font-weight: 500;
}

p {
  color: #212529;
  font-size: calc(0.60em + 1vmin);
  line-height: 1.8em;
}

.button {
  display: flex;
  width: calc(5em + 10vmin);
  height: calc(1.5em + 4vmin);
  margin: 0 auto;
  justify-content: center;
  align-items: center;

  color: #F8F9FA;
  font-family: 'Poppins', sans-serif;
  font-size: calc(0.60em + 1vmin);
  text-decoration-line: none;
  
  background-color: #212529; 
  border-radius: 100px;
  box-shadow: 0 0 0 0.13em #393e42;

  transition: ease 0.2s;
}

.button:hover,
.button:focus {
  /* color: #212529; */
  /* box-shadow: 0 0 0 0.13em #393e42;
  background-color: #393e42 ; */
  transform: translateY(-5%);
}

.name {
  position: relative;
  text-align: center;
  top: 35vh;
}

.scene3d {
  position: absolute;
  top: 0;
  z-index: -1;
  overflow: hidden;
}

canvas:focus {
  outline: none;
}

.separator {
  position: absolute;
  top: 100vh;
}

/* about me - - - - - - - - - - */
.about-me {
  width: 100vw;
  height: auto;
}

.box-picture {
  margin-top: 100px;
}

.profile-pic {
  position: relative;
  display: block;
  margin: 0 auto;
  top: 30px;
  width: calc(4em + 11vmin);
  z-index: 1;
}

.about-box {
  margin: 0 auto;
  background: #CED4DA;
  width: 98vmin;
  height: auto;
  min-height: 5em;
  border-radius: 100px;
  box-shadow: inset -10px -10px 20px #F8F9FA, 3px 3px 25px #6c757d;
  padding: 50px 0;
}

.about-text {
  margin: 0 calc(2em + 4vmin);
}

.contact-button {
  text-align: center;
  margin-top: calc(1.5em + 1.5vmin);
}


/* Underline animation  - - - - - - - - - - */
.underline {
  display: inline-block;
  position: relative;
  padding-bottom: 0.2em;
}

/* Fade in */
.underline::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 81%;
  height: 0.1em;
  background-color: #F8F9FA;
  opacity: 0;
  transition: opacity 300ms, transform 300ms;
}

.underline:hover::after,
.underline:focus::after {
  opacity: 1;
  transform: translate3d(0, 0.2em, 0);
}

/* Slide in */
.underline {
  overflow: hidden;
}

.underline::after {
  opacity: 1;
  transform: translate3d(-101%, 0, 0);
}

.underline:hover::after,
.underline:focus::after{
  transform: translate3d(0, 0, 0);
}



/* projects - - - - - - - - - - */
.projects {
  width: 98vmin;
  margin: 300px auto 0;
}


.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(20em, auto);
  column-gap: 0;
  row-gap: 15vmin;
}

.project-box {
  background: #CED4DA;
  width: 100%;
  height: 100%;
  min-height: 5em;
  border-radius: 100px;
  box-shadow: inset -10px -10px 20px #F8F9FA, 3px 3px 25px #6c757d;
}

.project-text {
  margin-top: calc(1em + 3vmin) ;
  margin-bottom: calc(1em + 3vmin) ;
}

.text-left {
  margin-left: calc(3em + 5vmin);
  margin-right: calc(1em + 12vmin);
}

.text-right {
  margin-left: calc(1em + 12vmin);
  margin-right: calc(3em + 5vmin);
}

.project-description {
  margin-top: calc(0.8em + 2vmin);
}

.box-left {
  grid-column-start: 1;
  grid-column-end: 4;
}

.box-right {
  grid-column-start: 2;
  grid-column-end: 5;
}

.img-left {
  grid-column-start: 1;
  grid-column-end: 3;
  max-width: 100%;
  margin: auto auto;
  z-index: 2;
}

.img-right {
  grid-column-start: 3;
  grid-column-end: 5;
  max-width: 100%;
  margin: auto auto;
  z-index: 1;
}

.row1{
  grid-row: 1;
}

.row2 {
  grid-row: 2;
}

.row3 {
  grid-row: 3;
}

.row4 {
  grid-row: 4;
}

.row5 {
  grid-row: 5;
}


.preview {
  display: block;
  border-radius: 50%;
  width: calc(4em + 15vmin);
  filter: saturate(120%);
  transition: ease 0.2s;
}

.preview:hover{
  /* filter: grayscale(100%); */
  /* box-shadow: inset -10px -10px 20px #F8F9FA, 3px 3px 25px #6c757d; */
  transform: translateY(-5%);
}


/* Contact - - - - - - - - - - */
.contact {
  margin: 350px auto 350px;
}

.contact-container {
  text-align: center;
}

.contact-container p {
  color: #F8F9FA;
  font-size: calc(1.1em + 1vmin);
}

.contact-container a {
  text-decoration-line: none;
}

.contact-container a:hover,
.contact-container a:focus {
  text-decoration-line: underline;
  text-decoration-color: #F8F9FA;
}

.contact-container h3 {
  color: #F8F9FA;
  font-size: calc(1.2em + 1.8vmin);
  line-height: 3em;
}


/* Footer */
footer {
  margin-left: 20px;
  margin-bottom: 8px;
}

footer p {
  color: #CED4DA;
  font-size: calc(0.5em + 0.5vmin);
}
